.rootContainer {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}
.container {
  padding: 0 34px;
  margin: 0 auto;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.check-box span{
  padding-left: 36px;
}
.check-box span::before{
  content:"";
  left: 0;
  top:2px;
  position: absolute;
  outline: 1px solid #333333;
  border-radius: 5px;
  width: 20px;
  height: 20px;
}

.check-box span::after{
  display:none;
  content: "";
  left: 5px;
  top:2px;
  position: absolute;
  width: 7px;
  height: 14px;
  border-right: 2px solid #f39800;
  border-bottom: 2px solid #f39800;
  transform: rotate(40deg);
}

input[type=checkbox]:checked+span {
  text-decoration:line-through;
  color:rgba(51,51,51,0.30);
}
input[type=checkbox]:checked+span::before{
  display:none; 
}
input[type=checkbox]:checked+span::after{
  display:block; 
}